* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1B1B1B;
}

a, a:hover, a:active, a:visited {
text-decoration: none !important;
color: #1B1B1B;
}

h2 {
  margin:2rem 0;
}
