* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
  color: #0d6efd;
}

h2 {
  margin: 2rem 0;
  color: #0d6efd;
  font-weight: bold;
}

table {
  margin-top: 2rem;
  color: unset !important;
}

td {
  text-align: center;
  color: unset !important;
}

ul {
  margin: 1rem;
}

button {
  margin: 0 1rem;
  font-weight: bold;
}

@media (max-width: 50rem) {
  .funkoImg {
    display: none;
  }
}

/*Loading Spinner*/
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fd0dad;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fd0dad;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
