* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
  color: #0d6efd;
}

h2 {
  margin: 2rem 0;
  color: #0d6efd;
  font-weight: bold;
}

table {
  margin-top: 2rem;
  color: unset !important;    
}

td {
  text-align: center;
  color: unset !important; 
}

ul{
  margin:1rem;
}

button {
  margin:0 1rem;
  font-weight:bold;
}

@media (max-width: 50rem) {
  .funkoImg {
    display: none;
  }
}
